*{
  box-sizing: borderbox;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 200px) {
  #navbar {
    width: 358px;
  }
body{
  display: flex; 
  line-height: 1.6;
}

#navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  padding: 20px;
}

.main-section{
  margin-bottom: 40px; 
  margin-left: 40px; 
}

.main-section header{
  font-size: 1.8rem;
  margin-bottom: 10px;
}

#navbar header {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}


.nav-link{
  display: block; 
  text-decoration: none; 
  color: #333; 
  margin: 10px 0;
  border-bottom: 1px solid black;
  cursor: pointer;
}

#main-doc {
  margin-left: 320px;
  padding: 20px;
  max-width: 800px;
}

.nav-link:hover {
  color: #007bff;
}